---
import ComboTitle from "./ComboTitle.astro";
import type { FlexCardItem } from "../../../functions/types/Common";
import Image from "../../uis/astro/Image.astro";

export interface Props {
  card: FlexCardItem;
}

const { card } = Astro.props;
---

<div class={`flex-card-container ${card.isReverse ? "-reverse" : ""}`}>
  <div class="image-wrapper">
    <Image src={card.image} alt={card.image} width={480} height={640} />
  </div>

  <div class="content-wrapper">
    <ComboTitle headline={card.headline} title={card.title} shouldLeft />
    <p class="base-text">{card.text}</p>
    <p class="base-text">{card.addition}</p>
  </div>
</div>

<style>
  .flex-card-container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
  .flex-card-container.-reverse {
    flex-direction: row-reverse;
  }
  .image-wrapper {
    width: 35%;
  }

  .content-wrapper {
    width: 55%;
    display: grid;
    margin: auto 0;
    gap: 30px;
  }
</style>
