---
import type { StepCardItem } from "../../../functions/types/Common";
import Icon from "../../uis/astro/Icon.astro";

export interface Props {
  step: StepCardItem;
}

const { step } = Astro.props;
---

<div class="step-card-container">
  <div class="gap-wrapper">
    <Icon src={step.image} alt={step.image} />
    <div>
      <p class="base-text -small">{step.headline}</p>
      <p class="base-text -bold">{step.title}</p>
    </div>
    <p class="base-text -small">{step.text}</p>
  </div>
</div>

<style>
  .step-card-container {
    width: 20%;
  }
  .gap-wrapper {
    display: grid;
    gap: 5px;
  }
</style>
