---
import ComboTitle from "../../uis/astro/ComboTitle.astro";
import type { Customize } from "../../../functions/types/Customize";
import "../../../functions/styles/base-text.css";

export interface Props {
  customize: Customize;
}

const { customize } = Astro.props;
---

<div class="customize-card-container">
  <ComboTitle headline={customize.headline} title={customize.title} />

  <div>
    <img src={customize.image} alt="" />
  </div>

  <div class="customize-wrapper">
    <div>
      <p class="base-text -small">{customize.custom1}</p>
      <p class="base-text -small">+</p>
      <p class="base-text -small">{customize.custom2}</p>
      <p class="base-text -small">+</p>
      <p class="base-text -small">{customize.custom3}</p>
      <p class="base-text -small">+</p>
      <p class="base-text -small">{customize.custom4}</p>
    </div>

    <div class="price">
      <div class="excludingtax">{customize.priceExcludingTax}</div>
      <div class="includingtax">{customize.priceIncludingTax}</div>
    </div>
  </div>
</div>

<style>
  .customize-card-container {
    width: 30%;
    height: 750px;
    padding: 30px;
    display: grid;
    gap: 30px;
    background-color: white;
  }
  .content-wrapper {
    width: 70%;
    height: auto;
    margin: 0 auto;
    padding: 5% 0 0;
  }
  .customize-wrapper {
    width: 80%;
    margin: auto;
    text-align: center;
    border: 1px solid black;
    padding: 10px;
  }
</style>
