---
import ComboTitle from "../../uis/astro/ComboTitle.astro";
import Image from "../../uis/astro/Image.astro";
import type { Customize } from "../../../functions/types/Customize";

export interface Props {
  customize: Customize;
}

const { customize } = Astro.props;
---

<div class="customize-card-container">
  <ComboTitle headline={customize.headline} title={customize.title} />

  <div class="image-wrapper">
    <Image
      src={customize.image}
      alt={customize.image}
      width={320}
      height={240}
    />
  </div>

  <div class="customize-wrapper">
    <div>
      <p class="base-text -small">{customize.custom1}</p>
      <p class="base-text -small">+</p>
      <p class="base-text -small">{customize.custom2}</p>
      <p class="base-text -small">+</p>
      <p class="base-text -small">{customize.custom3}</p>
      <p class="base-text -small">+</p>
      <p class="base-text -small">{customize.custom4}</p>
    </div>

    <p class="excluding-tax">
      {customize.priceExcludingTax}
    </p>

    <p class="base-text">{customize.priceIncludingTax}</p>
  </div>
</div>

<style>
  @import "../../../functions/styles/base-text.css";
  .customize-card-container {
    width: 30%;
    padding: 30px;
    display: grid;
    gap: 30px;
    background-color: white;
  }
  .customize-wrapper {
    text-align: center;
    border: 1px solid black;
    padding: 30px;
    display: grid;
    gap: 30px;
  }
  .image-wrapper {
    width: 100%;
  }
  .excluding-tax {
    font-weight: bold;
    font-size: 30px;
  }
</style>
